.card__like-button_is-active {
  background: transparent url('../../../../images/like-active.svg') no-repeat;
}


.like-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3px;
}

.number-of-likes {
  font-size: 13px;
}
